@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=VT323&display=swap");
.hell {
  display: flex;
  justify-content: center;
  transform: translateY(8px);
}
body {
  font-family: "Pangolin";
}
.parent {
  background-color: aliceblue;
  border: 0.5px solid rgb(204, 214, 222);
  width: 500px;
  height: 300px;
  font-size: 70px;
}
.buttons {
  margin-top: 100px;
  align-content: space-between;
  display: flex;
  align-content: space-evenly;
}
.add,
.reset,
.sub {
  font-size: 30px;
  width: 40%;
}
h1 {
  font-size: 70px;
  color: rgb(49, 49, 0);
}
.add {
  margin-left: 5px;
}
.sub {
  margin-left: 5px;
  margin-right: 4px;
}
.reset {
  margin-left: 5px;
}
